body {
  font-family: 'Poppins', sans-serif;
}

.text-accent {
  color: #ff6600; /* Akzentfarbe */
}

.image-container {
  width: 100%; /* oder eine feste Breite */
  height: 500px; /* Höhe des Containers */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Verhindert, dass das Bild über den Container hinausragt */
  background-color: #f8f9fa; /* Optional: Hintergrundfarbe */
}

.image-container img {
  object-fit: none; /* Verhindert Skalierung */
  object-position: center; /* Zentriert das Bild */
  max-width: none; /* Verhindert automatische Größenanpassung */
  max-height: none;
}
